@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    background-color: #262626;
    color: white;
	/* overflow: hidden; */
}

.body-div{
	position: absolute;
	width: 100%;
	height: 100%;
}

.oculto{
	display: none;
}

/* LASER TAG */


.animation-container {
	display: block;
	position: absolute;
	top: 300px;
	width: 1300px;
	max-width: 100%;

	
	.lightning-container {
		position: absolute;
		top: 50%;
		left: 0;
		display: flex;
		transform: translateY(-50%);
		 
		.lightning {
			position: absolute;
			display: block;
			height: 12px;
			width: 12px;
			border-radius: 12px;
			transform-origin: 6px 6px;

			animation-name: woosh;
			animation-duration: 1.5s;
			animation-iteration-count: infinite;
			animation-timing-function: cubic-bezier(0.445, 0.050, 0.550, 0.950);
			animation-direction: alternate;

			&.white {
				background-color: #BFBFBF;
				box-shadow: 0px 50px 50px 0px transparentize(white, 0.7);
			}

			&.red {
				background-color: #fc7171;
				box-shadow: 0px 50px 50px 0px transparentize(#D96941, 0.7);
				animation-delay: 0.2s;
			}
		}
	}
	
	
	.boom-container {
		position: absolute;
		display: flex;
		width: 160px;
		height: 160px;
		text-align: center;
		align-items: center;
		transform: translateY(-50%);
    left: 412px;
    top: -290px;
		
		.shape {
			display: inline-block;
			position: relative;
			opacity: 0;
			transform-origin: center center;
			
			&.triangle {
				width: 0;
				height: 0;
				border-style: solid;
				transform-origin: 50% 80%;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				margin-left: -15px;
				border-width: 0 2.5px 5px 2.5px;
				border-color: transparent transparent #42e599 transparent;
				animation-name: boom-triangle;
				
				&.big {
					margin-left: -25px;
					border-width: 0 5px 10px 5px;
					border-color: transparent transparent #fade28 transparent;
					animation-name: boom-triangle-big;
				}
			}
			
			&.disc {
				width: 8px;
				height: 8px;
				border-radius: 100%;
				background-color: #d15ff4;
				animation-name: boom-disc;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
			}
			
			&.circle {
				width: 20px;
				height: 20px;
				animation-name: boom-circle;
				animation-duration: 1s;
				animation-timing-function: ease-out;
				animation-iteration-count: infinite;
				border-radius: 100%;
				margin-left: -30px;
				
				&.white {
					border: 1px solid white;
				}
				
				&.big {
					width: 40px;
					height: 40px;
					margin-left: 0px;
					
					&.white {
						border: 2px solid white;
					}
				}
			}
			
			&:after {
				background-color: rgba(178, 215, 232, 0.2);
			}
		}
		
		.shape {
			&.triangle, &.circle, &.circle.big, &.disc {
				animation-delay: .38s;
				animation-duration: 3s;
			}
			
			&.circle {
				animation-delay: 0.6s;
			}
		}
		
		&.second {
			left: 984px;
			top: 312px;
			.shape {
				&.triangle, &.circle, &.circle.big, &.disc {
					animation-delay: 1.9s;
				}
				&.circle {
					animation-delay: 2.15s;
				}
			}
		}
	}
}

@keyframes woosh {
	0% {
		width: 12px;
		transform: translate(0px, 0px) rotate(-35deg);
	}
	15% {
		width: 50px;
	}
	30% {
		width: 12px;
		transform: translate(428px, -300px) rotate(-35deg);
	}
	30.1% {
		transform: translate(428px, -300px) rotate(46deg);
	}
	50% {
		width: 110px;
	}
	70% {
		width: 12px;
		transform: translate(1000px, 300px) rotate(46deg);
	}
	70.1% {
		transform: translate(1000px, 300px) rotate(-37deg);
	}
	
	85% {
		width: 50px;
	}
	100% {
		width: 12px;
		transform: translate(1400px, 0) rotate(-37deg);
	}
}

@keyframes boom-circle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	30% {
		opacity: 0;
		transform: scale(3);
	}
	100% {
	}
}

@keyframes boom-triangle-big {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	40% {
		opacity: 0;
		transform: scale(2.5) translate(50px, -50px) rotate(360deg);
	}
	100% {
	}
}

@keyframes boom-triangle {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	
	30% {
		opacity: 0;
		transform: scale(3) translate(20px, 40px) rotate(360deg);
	}
	
	100% {
	}
}

@keyframes boom-disc {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	40% {
		opacity: 0;
		transform: scale(2) translate(-70px, -30px);
	}
	100% {
		
	}
}


@media (max-width: 1440px) {
	.animation-container{
		display: none;
	}
}

/* HEADER AND MAIN "CONFIG" */


.primeira-impressao{
	width: 100%;
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

main{
    left: 15%;
    position: absolute;
    width: 70%;
    height: 100%;
}

header{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
	position: fixed;
	transition: 0.6s ease-in-out;
	z-index: 1000;

}

.scrolled{
	background-color: #73737356;
	backdrop-filter: blur(10px);
	z-index: 1000;
}

header div h1{
    font-size: 28px;
}

.navbar {
    display: flex;
    gap: 40px;
}


.navbar p{
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.navbar a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0;
    left: 0;
    background: #D96941;
    visibility: hidden;
    border-radius: 5px;
    transform: scaleX(0);
    transition: .25s linear;
}

.navbar a:hover::before,
.navbar a:focus:before{
	visibility: visible;
    transform: scaleX(1);
  
}

.navbar p a{
	text-decoration: none;
    color: white;
}

.navbar-retratil{
	width: 40px;
	height: 40px;
	display: none;
}

.mobile-menu{
	display: none;
	position: absolute;
	width: 100vw;
	height: 100vh;
	background-color: #262626eb;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	z-index: 1;
	transition: all 2s linear;
	animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.mobile-menu p a{
	display: none;
	text-decoration: none;
    color: white;
}

.mobile-menu-navbar{
	width: 100%;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 50px;
}

.mobile-menu-navbar p{
	font-size: 50px;
	font-weight: bold;
}

.header-mobile-menu{
	width: 90%;
	height: 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: end;
}

.header-mobile-menu svg{
	color: #BFBFBF;
	width: 40px;
	height: 40px;
}


@media (max-width: 1240px) {
	main{
		width: 98%;
		left: 1%;
	}
	.navbar{
		display: none;
	}
	.navbar-retratil{
		display: block;
		z-index: 2;
	}
	.mobile-menu{
		display: flex;
		justify-content: end;
	}
	.mobile-menu p a{
		display: block;
	}
	header div h1{
		margin-left: 10px;
	}
}

@keyframes slide-in-bottom {
	0% {
	  transform: translateY(1000px);
	  opacity: 0;
	}
	100% {
	  transform: translateY(0);
	  opacity: 1;
	}
  }
  
  @keyframes flip-horizontal-bottom {
	0% {
	  transform: rotateX(0);
	}
	100% {
	  transform: rotateX(-180deg);
	}
  }

  

/* DIV 1 (ME-DEV-SOCIAL) */

.me{
    display: flex;
    justify-content: space-between;
    width: 90%;
    display: flex;
    align-items: center;
}

.me-img{
    width: 354px;
    height: 362px;
    background-color: #D96941;
    border-radius: 100%;

}

.me-img img{
    width: 350px;
    height: 350px;
}

.me-dev-social{
    display: flex;
    flex-direction: column;
}

.me-dev-social h1{
    font-size: 25px;
}

.me-social{
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;    
}

@media (max-width: 1240px) {
	.me{
		flex-direction: column;
		/* margin-top: 60px; */
	}
	.me-img{
		margin-bottom: 40px;
		width: 324px;
		height: 332px;
	}
	.me-img img{
		width: 320px;
		height: 320px;
	}
	.me-dev-social h1{
		font-size: 19px;
	}
}

/* SKILLS  */

.skills-container{
	width: 100%;
	display: flex;
	align-items: flex-end;
	justify-content: space-around;
}

.skills-container svg{
	width: 75px;
	height: 75px;
	color: #9D9D9D;
}

@media (max-width: 1240px) {
	.skills-container svg{
		width: 40px;
		height: 40px;
	}
}

/* SOBRE MIM E LINHA DO TEMPO*/

.container-sobremim-tempo{
	width: 100%;
	height: 900px;
	display: flex;
	align-items: flex-start;
	justify-content: space-between;
	margin-top: 100px;
	gap: 130px;
}

.container-sobremim{
	width: 50%;
	max-height: 85%;
	background-color: #3B3C41;
	border-radius: 10px;
	padding: 35px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: justify;	
	gap: 20px;
	position: relative;
}

.container-sobremim h1{
	font-size: 40px;
}

.container-sobremim p{
	font-weight: 300;
	font-size: 19px;
}

.container-tempo{
	width: 50%;
	height: 100%;
	display: flex;
	align-items: end;
}

.container-linha-tempo{
	width: 19%;
	height: 95%;
	border-left: solid 3px #D96941;
}

.grid-linha{
	width: 100%;
	min-height:16.25%;
	max-height: 23.75%;
	border-top: solid 3px #D96941;
}

.circle-tempo{
	width: 10px;
	height: 10px;
	background-color: #262626;
	position: relative;
	bottom: 6px;
	right: 6px;
	border-radius: 10px;
	border: solid #D96941 2px;
}

.container-acontecimento-tempo{
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	gap: 36px;
}

.grid-acontecimento{
	width: 100%;
	height: 100px;
	background-color: #3B3C41;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	padding-left: 15px;
}

.grid-acontecimento p{
	font-weight: 300;
}

.grid-acontecimento h1{
	font-weight: 500;
	font-size: 20px;
}

.senac h1, .alura h1, .puc h1{
	margin-bottom: 5px;
}

.content-p-sobremim{
	height: 900px;
	overflow: hidden;
}

@media (max-width: 1240px) { 
	.container-sobremim-tempo{
		width: 100%;
		gap: 0;
		align-items: center;
		flex-direction: column;
	}
	.container-sobremim{
		width: 90%;
		min-height: 50%;
		padding: 15px;
	}
	.content-p-sobremim{
		overflow: visible;
	}
	.container-linha-tempo{
		display: flex;
		flex-direction: column-reverse;
		height: 100%;
	}
	.grid-linha{
		border-bottom: 3px #D96941 solid;
		border-top: 0;
	}
	.circle-tempo{
		position: relative;
		top: 72px;
	}
	.grid-acontecimento{
		width: 90%;
		height: 86px;
	}
	.container-acontecimento-tempo{
		
	}
}

@media (max-width: 1685px) {
	.container-sobremim::before{
		content: '';
		position: absolute;
		bottom: 0;
		width: 100%;
		height: 150px;
		border-radius: 20px;
		background: linear-gradient(transparent 10%, #3B3C41 90%);
	}
	.content-p-sobremim-oculto{
		height: auto;
		width: auto;
	}
	.container-tempo{
		width: 85%;
	}
	.container-sobremim{
		width: 90%;
	}
	.content-p-sobremim{
		overflow: scroll;
	}
	.content-p-sobremim::-webkit-scrollbar {
		width: 8px;               /* width of the entire scrollbar */
	  }
	  
	  .content-p-sobremim::-webkit-scrollbar-track {
		background: transparent;        /* color of the tracking area */
	  }
	  
	  .content-p-sobremim::-webkit-scrollbar-thumb {
		background-color: #9D9D9D;    /* color of the scroll thumb */
		border-radius: 20px;       /* roundness of the scroll thumb */
	}
	.content-p-sobremim::-webkit-scrollbar-corner{
		background-color: transparent;
	}
	.content-p-sobremim p{
		  margin-right: 3%;
		  margin-left: 3%;
	  }

}


/* PROJETOS */


.container-projeto-main{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.container-projetos-long{
	width: 100%;
	height: 100%;
	background-color: #3B3C41;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 105px;
	padding: 55px 70px 0 70px;
}

.container-projetos{
	width: 100%;
	height: 100%;
	background-color: #3B3C41;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 105px;
	padding: 55px 70px 0 70px;
}

.grid-projeto{
	width: 100%;
	min-height: 500px;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	gap: 50px;
}

.grid-projeto-esquerda{
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.grid-projeto-esquerda h1{
	margin-bottom: 21px;
}

.grid-projeto-esquerda a{
	color: #F2F2F2;
}

.box-p{
	width: 100%;
	height: 70%;
	text-align: justify;
}

.box-p p{
	color: #F2F2F2;
	font-weight: 300;
}

.grid-projeto-direita{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.grid-projeto-direita img{
	width: 100%;
	height: 100%;
}

.container-tecnologias{
	width: 100%;
	height: 13%;
	display: flex;
	justify-content: space-between;
 	align-items: center;
	margin-top: 1%;
}

.container-tecnologias svg{
	width: 50px;
	height: 50px;
	color: #9D9D9D;
}

.button-oculto{
	display: none;
}

@media (max-width: 1240px) { 
	.container-projetos{
		margin-top: 90px;
		width: 90%;
		height: auto;
		align-items: center;
		gap: 0px;
		padding: 20px;
	}
	.grid-projeto{
		flex-direction: column-reverse;	
		gap: 25px;
	}
	.grid-projeto-direita {
		width: 100%;
	}	
	.grid-projeto-direita img{
		width: 100%;
		height: 100%;
		aspect-ratio: 1 / 1;
		margin-top: 20px;
	}	
	.grid-projeto-esquerda{
		width: 100%;
		justify-content: center;
		align-items: flex-start;
	}
	.container-tecnologias{
		margin-top: 10px;
	}
	.container-tecnologias svg{
		width: 40px;
		height: 40px;
	}
	.grid-projeto-esquerda a{
		color: #D96941;
		font-weight: 500;
	}
	.grid-projeto-esquerda p{
		margin-top: 10px;
	}
	.grid-projeto-esquerda h1{
		margin: 0px;
	}
	.grid-projeto button{
		width: 100%;
        padding: 5px;
        background-color: #3B3C41;
        border: solid #D96941 3px;
        border-radius: 10px;
        color: #F2F2F2;
        font-size: 17px;
        font-weight: 300;
	}
	.grid-projeto button:hover{
		background-color: #D96941;
		transition: 0.5s ease-in-out;
	}
	.button-oculto{
		display: block;
	}
}

/* CATEGORIAS */

.container-categorias{
	width: 100%;
	height: 60%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 100px;
}

.box{
	width: 33.3%;
	height: 50%;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #3B3C41;
	text-align: center;
	padding: 20px;
	gap: 12px;
}

.box svg{
	width: 50px;
	height: 50px;
	color: #737373;
}

.box h1{
	font-size: 23px;
	font-weight: 500;
	margin-bottom: 10px;
}

.box p{
	font-size: 21px;
	font-weight: 300;	
	color: #F2F2F2;
}

@media (max-width: 1240px){
	.container-categorias{
		flex-direction: column;
	}
	.box{
		width: 90%;
		height: auto;
	}
}